/*  your css code here. If applicable */
/*  your css code here. If applicable */
*{
	margin:0;
	
}
body{
	background:black;
	padding:1%;
	margin:1%;
}
.container{
	background:grey;
	margin:6%;
	margin-top:0%;
	border-radius:10px;
}
#photo-heading{
	color:white;
	text-align:center;
	padding:2%;
}
img{
	width:150px;
	padding:1%;
	margin-left:2%;
	margin-right:auto;
	border-radius:20px;
}

.section1{
	display:flex;
	justify-content:space-around;
}

.section2{
	display:flex;
}

.section3{
	display:flex;
}